roomerDatamodel/RoomerDataModel-2017-09-08 (1)/FinancialDataModel/RoomerFinancialDataModel_ModelObjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://roomer.promoir.nl/datamodel/financial/modelobjects/2014/01/" elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:rmrds="http://roomer.promoir.nl/datamodel/canonical/datastructures/2014/01/"
	xmlns:rmrfmo="http://roomer.promoir.nl/datamodel/financial/modelobjects/2014/01/" 
	xmlns:rmrbt="http://roomer.promoir.nl/datamodel/canonical/basetypes/2014/01/"
	xmlns:rmrst="http://roomer.promoir.nl/datamodel/canonical/simpletypes/2014/01/">
	<import schemaLocation="../CanonicalDataModel/RoomerCanonicalDataModel_DataStructures.xsd" namespace="http://roomer.promoir.nl/datamodel/canonical/datastructures/2014/01/"></import>
	<import schemaLocation="../CanonicalDataModel/RoomerCanonicalDataModel_BaseTypes.xsd" namespace="http://roomer.promoir.nl/datamodel/canonical/basetypes/2014/01/"></import>
	<import schemaLocation="../CanonicalDataModel/RoomerCanonicalDataModel_SimpleTypes.xsd" namespace="http://roomer.promoir.nl/datamodel/canonical/simpletypes/2014/01/"></import>
	<annotation>
		<documentation>
			This XSD specifies the data model elements used in the financial model. The financial model is a model
			that
			is specialized to the task of managing billing and invoicing as well as related reporting tasks.
		</documentation>
	</annotation>

	<complexType name="AmountType">
		<attributeGroup ref="rmrbt:AmountGroup" />
	</complexType>

	<complexType name="BillableEntryType">
		<sequence>
			<element name="unitPrice" type="rmrfmo:AmountType" minOccurs="0"/>
			<element name="convertedUnitPrice" type="rmrfmo:AmountType" minOccurs="0" />
			<element name="conversionRate" type="rmrfmo:CurrencyConversionRateType" minOccurs="0" />
			<element name="totalPrice" type="rmrfmo:AmountType" />
		</sequence>
		<attribute name="id" type="ID"/>
		<attribute name="description" type="string" use="optional" />
		<attribute name="productId" type="string" use="optional" />
		<attribute name="number" type="double" use="required" />
		<attribute name="purchaseDateTime" type="dateTime" use="required" />
	</complexType>

	<simpleType name="BillableEntryStatus">
		<restriction base="string">
			<enumeration value="PAID"/>
			<enumeration value="UNPAID"/>
		</restriction>
	</simpleType>

	<element name="Booking">
		<complexType>
			<complexContent>
				<extension base="rmrds:ExistingBookingType">
					<sequence>
						<element ref="rmrfmo:Ledger" minOccurs="0" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<attribute name="bookKeepingCode" type="string"/>

	<simpleType name="ConversionFactorType">
		<restriction base="decimal">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="CreationTypeType">
		<restriction base="string">
			<enumeration value="EXTERNAL_SYSTEM"/>
			<enumeration value="MANUAL"/>
			<enumeration value="PACKAGE"/>
			<enumeration value="ROOMER_SYSTEM"/>
		</restriction>
	</simpleType>

	<complexType name="CurrencyConversionRateType">
		<attribute name="from" type="rmrst:ISO4217CurrencyCode" use="required" />
		<attribute name="to" type="rmrst:ISO4217CurrencyCode" use="required" />
		<attribute name="factor" type="rmrfmo:ConversionFactorType" use="required" />
		<attribute name="date" type="dateTime" use="required" />
	</complexType>

	<complexType name="DiscountBillableEntryType">
		<complexContent>
			<extension base="rmrfmo:ExtendedBillableEntryType">
				<attribute name="appliesTo" type="string">
					<annotation>
						<documentation>A reference to the ID attribute of the BillableEntry to which this discount is being applied (if there is one; otherwise this is a general discount for the entire invoice).</documentation>
					</annotation>
				</attribute>
				<attribute name="isPercentage" type="boolean" use="required" />
				<attribute name="discountPercentage" type="decimal" use="optional"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ExtendedBillableEntryType">
		<complexContent>
			<extension base="rmrfmo:BillableEntryType">
				<sequence>
					<element name="PaymentUnitPrice" type="rmrfmo:AmountType" minOccurs="0">
						<annotation>
							<documentation>The price per unit in the currency in which the guest wants to be charged.</documentation>
						</annotation>
					</element>
					<element name="PaymentConversionRate" type="rmrfmo:CurrencyConversionRateType" minOccurs="0"/>
					<element name="TotalPriceGross" type="rmrfmo:AmountType" minOccurs="0">
						<annotation>
							<documentation>The total price excluding taxes.</documentation>
						</annotation>
					</element>
					<element name="TotalConvertedPriceGross" type="rmrfmo:AmountType" minOccurs="0"/>
					<element name="TotalConvertedPriceNet" type="rmrfmo:AmountType" minOccurs="0"/>
					<element name="TotalPaymentPriceGross" type="rmrfmo:AmountType" minOccurs="0"/>
					<element name="TotalPaymentPriceNet" type="rmrfmo:AmountType" minOccurs="0"/>
					<element name="ApplicableTax" type="rmrfmo:TaxType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="status" type="rmrfmo:BillableEntryStatus" use="required"/>
				<attribute name="applicationDate" type="date" use="required">
					<annotation>
						<documentation>This is the date to which the billable entry applies. For example, this date might indicate that this entry is the room rent for March 12, 2015.</documentation>
					</annotation>
				</attribute>
				<attribute name="paymentDateTime" type="dateTime"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ExtendedInvoiceType">
		<sequence>
			<element name="LineItem" type="rmrfmo:InvoiceLineType" maxOccurs="unbounded" minOccurs="0"/>
			<element name="CustomerData" minOccurs="0">
				<complexType>
					<attribute name="customer" type="string"/>
					<attribute name="customerReference" type="string"/>
				</complexType>
			</element>
			<element name="GuestData">
				<complexType>
					<sequence>
						<element name="Name" type="string"/>
						<element name="Address" type="rmrbt:SimplifiedAddressType"/>
					</sequence>
				</complexType>
			</element>
			<element name="CurrencyData" minOccurs="0">
				<complexType>
					<sequence>
						<element name="InvoiceCurrency" type="rmrst:ISO4217CurrencyCode"/>
						<element name="ConversionFromHotelCurrency" type="rmrfmo:CurrencyConversionRateType"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
		<attribute name="id" type="ID" use="required"/>
		<attribute name="reservation" type="string" use="required"/>
		<attribute name="roomReservation" type="string" use="optional"/>
		<attribute name="index" type="integer" use="required"/>
		<attribute name="number" type="string" use="optional"/>
		<attribute name="type" type="rmrfmo:InvoiceTypeType" use="required"/>
		<attribute name="state" type="rmrfmo:InvoiceStateType" use="required"/>
		<attribute name="originalInvoice" type="string" use="optional">
			<annotation>
				<documentation>In case this is a credit invoice, this attribute refers to the invoice being credited.</documentation>
			</annotation>
		</attribute>
		<attribute name="date" type="date"/>
		<attribute name="printDateTime" type="dateTime"/>
		<attribute name="printedBy" id="string"/>
	</complexType>

	<element name="Invoice" type="rmrfmo:InvoiceType" />

	<complexType name="InvoiceLineType">
		<sequence>
			<choice>
				<element name="SalesItem" type="rmrfmo:ExtendedBillableEntryType"/>
				<element name="DiscountItem" type="rmrfmo:DiscountBillableEntryType"/>
				<element name="PaymentItem" type="rmrfmo:PaymentType"/>
				<element name="TextItem" type="rmrfmo:TextEntryType"/>
			</choice>
			<element name="Remarks" type="rmrbt:RemarksType" minOccurs="0"/>
		</sequence>
		<attribute name="index" type="integer" use="required"/>
		<attribute name="creatorId" type="string" use="required"/>
		<attribute name="creationType" type="rmrfmo:CreationTypeType" use="required"/>
	</complexType>

	<simpleType name="InvoiceStateType">
		<restriction base="string">
			<enumeration value="CLOSED"/>
			<enumeration value="OPEN"/>
		</restriction>
	</simpleType>

	<complexType name="InvoiceType">
		<sequence>
			<element name="invoiceLineItem" type="rmrfmo:BillableEntryType" minOccurs="1" maxOccurs="unbounded" />
			<element name="invoiceTotal" type="rmrfmo:AmountType" maxOccurs="unbounded"/>
			<element name="unconvertedInvoiceTotal" type="rmrfmo:AmountType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="invoiceDate" type="dateTime" use="required" />
		<attribute name="id" type="ID" use="required" />
	</complexType>

	<simpleType name="InvoiceTypeType">
		<restriction base="string">
			<enumeration value="CREDIT"/>
			<enumeration value="DEBIT"/>
		</restriction>
	</simpleType>

	<element name="Ledger">
		<complexType>
			<sequence>
				<choice>
					<element ref="rmrfmo:Invoice" />
					<element ref="rmrfmo:RunningTab" />
				</choice>
				<element ref="rmrfmo:PaymentRecord" />
			</sequence>
		</complexType>
	</element>

	<element name="PaymentRecord">
		<complexType>
			<sequence>
				<element name="payment" type="rmrfmo:PaymentType" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="PaymentType">
		<attribute name="id" type="ID"/>
		<attribute name="paymentReference" type="string" use="required" />
		<attribute name="paymentMethod" type="string" use="required" />
		<attribute name="date" type="dateTime" use="required" />
		<attributeGroup ref="rmrbt:AmountGroup" />
	</complexType>

	<simpleType name="PurchaseCountType">
		<restriction base="positiveInteger">
			<minInclusive value="1" />
		</restriction>
	</simpleType>
	
	<element name="Product">
		<annotation>
			<documentation>A Product is an item that may be sold at a hotel. Such a Product may be tracked within an inventory and may be referred to on an invoice or running tab when a sale is recorded.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="rmrbt:ItemType">
					<attribute name="vatcode" type="string">
						<annotation>
							<documentation>If this attribute is used, its value must be the code of a rmrfmo:ValueAddedTax that exists in the system. This VAT will be associated with the product and used in price calculations.</documentation>
						</annotation>
					</attribute>
					<attribute ref="rmrst:active"/>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="RoomRequest" substitutionGroup="rmrds:BaseRoomRequest">
		<complexType>
			<complexContent>
				<extension base="rmrds:RoomRequestType">
					<sequence>
						<element ref="rmrfmo:Ledger" minOccurs="0" />
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<element name="RunningTab">
		<complexType>
			<sequence>
				<element name="tabEntry" type="rmrfmo:BillableEntryType" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>

	<complexType name="TaxType">
		<attribute name="description" type="string" use="required"/>
		<attributeGroup ref="rmrbt:AmountGroup"/>
	</complexType>

	<element name="ValueAddedTax">
		<annotation>
			<documentation>A ValueAddedTax represents a value added tax entry in Roomer. Such an entry may be created and deleted, and associated with a Product.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="rmrfmo:VatType">
					<attribute ref="rmrfmo:bookKeepingCode" use="optional"/>
					<attribute ref="rmrst:active"/>
				</extension>
			</complexContent>
		</complexType>
	</element>

	<complexType name="VatType">
		<attribute name="code" type="string" use="required" />
		<attribute name="description" type="string" use="optional" />
		<attribute name="percentage" type="rmrfmo:PercentageType" use="required" />
	</complexType>

	<simpleType name="PercentageType">
		<restriction base="decimal">
			<minInclusive value="0" />
			<maxInclusive value="100" />
		</restriction>
	</simpleType>

	<complexType name="TextEntryType">
		<attribute name="id" type="ID"/>
		<attribute name="text" type="string" use="required"/>
		<attribute name="date" type="date" use="required"/>
	</complexType>
	
  <complexType name="DayClosingTimeStampOverview"> 
   	<sequence> 
    	<element ref="rmrds:DayClosingTimestampType" maxOccurs="unbounded" /> 
    </sequence> 
  </complexType> 
	
	
</schema>